.advantages{
    height: 100%;
}

.advantages__container{
    padding-top: 68px;
    position: relative;
    max-width: 1200px;
}

.advantages__title{
    padding: 0 280px;
}
.section-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    line-height: 1.2;
    margin-bottom: 50px;
}

.advantages__desc{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.5;
}