.scroll-down-btn__link{
    display: flex;

    &:hover{
        .scroll-down-btn__pic{
            fill: $yellow;
        },
        .scroll-down-btn{
            color:$yellow;
        }
    }
}

.scroll-down-btn__pic{
    width: 24px;
    height: 25px;
    fill: white;
}