.nav__list{
    display: flex;
    align-items: center;
}

.nav__item{
    margin-right: 61px;

    &:last-child{
        margin-right: 0;
    }

    &:hover, 
    &.active{
        color:$yellow;
        text-decoration: underline;
    }
}

.nav--footer{
    margin-bottom: 60px;
    justify-content: left;
    margin-left: -30px;

    .nav__item{
        color: white;
        transition: 0.2s ease-in-out all;
    }

    .nav__item:hover{
        color: $yellow;
    }
}