.nav__list{
    display: flex;
    align-items: center;
}

.nav__item{
    margin-right: 61px;

    &:last-child{
        margin-right: 0;
    }

    &:hover, &:active{
        color:$yellow;
        text-decoration: underline;
    }
}