.parallax__layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: transform;
 
     @include tablets{
         width: 145%;
     }
 
    @include phones{
     width: 280%;
    }
 
    &:nth-child(1){
     top: 57%;
     z-index: -3;
     left: 22%;  
    }
    &:nth-child(2){
     top: 55%;
     left: 77%;
     z-index: -2;
    }
    &:nth-child(3){
     left: 84%;
     z-index: -1;
     top: 13%;
    
    }
 }