.bg__image{
   z-index: -1;
   position: absolute;
}

.image__drum{
    right: -620px;
}

.image__guitarist{
    right: -800px;
    top: 0;
}

.image__fog{
    bottom: -370px;
    transform: rotate(-20deg);
    left: -200px;
}
