.container__reviews{
    color: white;
    max-width: 1200px;
}

.reviews__title{
    display: flex;
    padding-top: 140px;
    margin-bottom: 60px;
}

.reviews__title-text{
    margin-right: 77px;
    
}
