.rock__guitar-pic{
    background: url(../images/content/guitar.png) center center/cover no-repeat;
    margin-right: 50px;
    position: absolute;
    top: -187px;
    left: -76px;;
    width: 400px;
    height: 910px;
}

.rock__nroll-pic{
    background: url(../images/content/rock.png) center center/cover no-repeat;
    width: 596px;
    height: 486px;
    position: absolute;
    z-index: -1;
    bottom: 35px;
    left: -287px;
}