.socials{
    display: flex;
    align-items: center;
}

.socials__item{
    margin-right: 40px;

    &:last-child{
        margin-right: 0;
    }
}

.socials__icon{
width: 31px;
height: 27px;
display: block;
fill: $grey;

&:hover{
fill:$yellow;
}
}