.triangles{
    display: flex;
    margin-top: -99px;
}

.triangles__item, .triangles__item-second{
    fill:white;
    display: block;
}

.triangles__item{
    width: 125%
}

.triangles__item-second{
    width: 23%;
}