.user__desc{
    display: table;
    border-spacing: 0 15px;
}

.user__desc-item{
    display: table-row;
}

.user__key{
    display: table-cell;
    padding-right: 92px;
    opacity: 0.15;

    @include desktopHd{
        padding-right: 82px;
    }

    @include tablets{
        padding-right: 40px;
    }

    @include phones{
        padding-right: 68px;
    }
}