section.about
        .container.about__container
          .about__left
            .user
              .avatar
                +image("content/avatar.png", "avatar__pic")
              ul.user__desc
                -
                  var items = [
                    ['Проживаю:', 'Самара'],
                    ['Возраст:', '30 лет'],
                    ['Родился:', '19 апреля 1989'],
                  ]
                each item in items
                  li.user__desc-item
                    .user__key #{item[0]}
                    .user__value #{item[1]}
          .about__right
            h4.about__prologue Привет, меня зовут
            h2.section-title.about__title Олег Усачев
            .about__text Я занимаюсь разработкой современных сайтов и приложений.<br>Мне нравится делать интересные и современные проекты.
            .about__ps Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!