section.advantages
   .container.advantages__container
     .advantages__title 
        h2.section-title.advantages__title-section Чем я могу быть полезен вам
        .advantages__desc 
           p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво! 
               #skills-component                                  
     .rock__guitar-pic
     .rock__nroll-pic