.parallax__layer(data-speed="0.02")
    +image("content/fog.png", "image__fog parallax__layer-elem")
.parallax__layer(data-speed="0.12")
    +image("content/drum.png", "image__drum parallax__layer-elem")
.parallax__layer(data-speed="0.05")
    +image("content/guitarist.png", "image__guitarist parallax__layer-elem")