- var pictures = ["content/small1.png","content/small2.png","content/small3.png","content/small4.png"]


section(id="four").resume
    .container.resume__container
        h2.section-title.section-title--resume Мои работы
        #slider-component