section.reviews
    .container.container__reviews
        .reviews__title
            h2.section-title.reviews__title-text Что обо мне говорят
            .reviews-slider__btns
                a.reviews-slider__btn.reviews-slider__btn--left
                    +icon('arrow-down', 'reviews-slider__btn-icon arrow')
                a.reviews-slider__btn.reviews-slider__btn--right
                    +icon('arrow-down', 'reviews-slider__btn-icon arrow')
        ul.reviews-slider
                li.reviews-slider__item
                    .reviews-slider__image
                        +icon('quote', 'reviews-slider__icon')
                    .quote
                        .quote__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                        .quote__author
                            .user.user--horizontal
                                .user__avatar
                                    +image('content/koval.png', 'user__avatar-pic')
                                .user__desc
                                    .user__name Ковальчук Дмитрий
                                    .user__prof Основатель Loftschool
                li.reviews-slider__item
                    .reviews-slider__image
                        +icon('quote', 'reviews-slider__icon')
                    .quote
                        .quote__text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                        .quote__author
                            .user.user--horizontal
                                .user__avatar
                                    +image('content/vova.png', 'user__avatar-pic')
                                .user__desc
                                    .user__name Сабанцев Владимир
                                    .user__prof Преподаватель
