include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .welcome-section    
          include components/hero
          include components/about

      include components/geometry
      include components/advantages
      include components/resume

      .reviews-section
          include components/parallax
          include components/templates/reviews-slider
          include components/form
      
      include components/footer
    include components/templates/entry
    include components/header__popup
        